@charset 'utf-8';
@import 'compass';
@import 'base/fonts';
@import 'base/style';
@import 'base/media';
//@import 'base/css3-mixins';

/* ------------ base ------------ */
@font-face {
	font-family: NexaBold;
	src: local("Nexa Bold"),
    local("Nexa-Bold"),
    url("../fonts/NexaLight.otf");
//	font-weight: bold;
}
body, html {
	min-height: 100%!important;
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Roboto', "source-han-sans-traditional", sans-serif, "Microsoft JhengHei";
	word-wrap: break-word;
	word-break: normal;
	line-height: 1.8;
	overflow-x: hidden;
}

//basic style
h1, h2, h3, h4, h5, h6 {
	line-height: 1.75;
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: bold;
	font-family: 'Roboto', "source-han-sans-traditional", sans-serif, "Microsoft JhengHei";
	color: $black;
	letter-spacing: .01em;
	@include respond-to (only-device){
		line-height: 1.1;
	}
}
*:hover {
	@include transition(color, .5s, ease-in);
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 32px;
    color: $gray-green;
    span {
        background-image: -webkit-linear-gradient(rgba($yellow, 0) 64%, $yellow 65%);
        background-image: -o-linear-gradient(rgba($yellow, 0) 64%, $yellow 65%);
        background-image: linear-gradient(rgba($yellow, 0) 64%, $yellow 65%);
    }
}
h4 {
    font-size: 24px;
    font-weight: 500;
    color: $dark-gray-green;
}
h5 {
    font-size: 20px;
    color: $gray;
}
hr.page {
    display: block;
    border: 1px;
    height: 64px;
    margin: 40px 0;
    background: url(../images/line_page.png) no-repeat top center;
}
.morning {
	width: 80%;
	box-shadow: inset 2px 0 0 #CCCCCC;
	margin: 0 auto;
	padding: 0 30px;
	border-left: 8px solid #FFEC50;
	font-size: 14px;
	font-weight: normal;
}
.carousel-indicators {
		bottom: 80px;
		.active {
			background-color: $gray;
		}
		li {
			border-color: $gray;
			background-color: $yellow;
			border-width: 2px;
		}
	}
	@include respond-to (only-device){
		.carousel {
			width: 100%;
			blockquote {
			}
		}
	}
.carousel {
    width: 65%;
    margin: 0 auto;
    padding-bottom: 100px;
    .item {
    	text-align: center;
    }
    p {
        font-size: 18px;
        &.reader {
//			text-align: right;
            padding-left: 20px;
            font-size: 15px;
            color: $gray;
            &:before {
            	content: ('\2500');
            	padding-right: 8px;
            }
        }
    }
}	
//input style 
input[type='text'], input[type='password'] {
	height: 40px;
}
//btn style
.btn {
	span {
		padding: 0 5px;
	}
	&.active {
		box-shadow: none;
	}
}
//.btn-xs, .btn-group-xs > .btn {
//	padding: 3px 6px;
//	@include respond-to (xxs-mobile){
//		padding: 1px 3px;
//	}
//}
//.btn-group .btn + .btn, 
//.btn-group .btn + .btn-group, 
//.btn-group .btn-group + .btn, 
//.btn-group .btn-group + .btn-group {
//	margin-left: 1px;
//}
//.btn:focus,.btn:active:focus,.btn.active:focus,
//.btn.focus,.btn:active.focus,.btn.active.focus {
//    outline: none;
//}
.btn-defult {
	background-color: $white;
	border: 1px solid $gray-green;
	color: $dark-gray-green;
    margin: 10px;
}
.btn-primary {
	background-color: $dark-gray-green;
	clear: both;
	border: 0;
    margin: 10px;
	color: $yellow;
	display: block;
//	width: 300px;
	&:hover, &:active, &:focus, &.active, &.dropdown-toggle, &.disabled {
		border: 0;
		color: $white;
		background-color: $dark-gray;
	}
	&:active {
		&:hover, &:focus {
			border: 0;
			color: $white;
			background-color:  $dark-gray;
		}
	}
//	&.dropdown-toggle {
//		.open & {
//			border: 0;
//			color: $white;
//			background-color: transparent;
//			&:hover, &:focus, &.focus {
//				border: 0;
//				color: $white;
//				background-color: transparent;
//			}
//		}
//	}
	&.disabled {
		background-color: $dark-gray-green;
		border: 0;
		&:hover, &:focus, &.focus, &:active, &.active, &[disabled], &[disabled]:hover, &[disabled]:focus, &[disabled].focus, &[disabled]:active, &[disabled].active {
			border: 0;
			background-color: $dark-gray;
		}
	}
//	@include respond-to (normal-mobile){
//		font-size: 12px;
//	}
}
.item_number, .item_disc {
    margin: 20px auto;
    padding: 5px 20px;
    li {
        list-style-type: decimal;
        font-size: 16px;
        margin-bottom: 8px;
    }
}
.item_disc {
    li {
        list-style-type: disc;
    }
}
p {
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 0;
	color: $dark-gray;
	margin: 0 0 20px;
//	text-align: justify;
    a {
        &:hover, &:focus { 
            background: $yellow;
        }
    }
}
a {
	color: $gray-green;
	@include transition(all, .5s, ease-in);
	&:hover, &:focus { 
		text-decoration: none;
	}
}
.clearfix {
	@include clearfix;
}
ul, li {
	margin: 0;
	padding: 0;
	-webkit-padding-start: 0;
	list-style: none;
}
hr {
	display:block;
    border:0px;
    height:15px;
	margin: 50px 0;
    background:url(http://daodu.cto.tw/wp-content/uploads/2017/04/Line_short.png) no-repeat top center;
	background-size: 220px;
}
blockquote {
	margin: 40px 0;
	padding-left: 100px;
	position: relative;
	border: 0;
    font-size: 16px;
}
blockquote p {
	text-align: left;
	font-size: 16px;
}
blockquote:before {
	content:url(http://daodu.cto.tw/wp-content/uploads/2017/04/quote_70.png);
	position: absolute;
	left: 20px;
	top: -20px;
}
blockquote p:after {
	border-bottom: 0;
}
@include respond-to (only-device){
	blockquote {
		margin: 40px 0;
		padding-left: 40px;
		position: relative;
	}
	blockquote:before {
		content:url(http://daodu.cto.tw/wp-content/uploads/2017/04/quote_50.png);
		position: absolute;
			left: -10px;
			top: -20px;
		}
}
.alert-dismissable .close, .alert-dismissible .close {
        top: 4px;
    }
.alert {
    font-size: 16px;
    border: 0;
    box-shadow: 0 2px 0 $yellow;
    i {
        padding-right: 6px;
        font-size: 20px;
    }
    .close {
        opacity: .8;
        &:hover, &:focus {
            opacity: 1;
            color: $white;
        }
    }
    &.alert-success {
        background: $gray-green;
        color: $white;
    }
    &.alert-info {
        background: $gray;
        color: $yellow;
        
    }
}
@include respond-to (normal-mobile){
//	p {
//		font-size: $l-font;
//	}
}
//.close {
//	position: absolute;
//	display: inline-block;
//	width: 40px;
//	height: 40px;
//	opacity: 1;
//	overflow: hidden;
//	display: inline-block;
//	z-index: 9999;
//	cursor: pointer;
//	top: 12px;
//	right: 12px;
//	background: $light-gray;
//	&:hover {
//		@include transparent($dark-gray,.2);
//		&::before, &::after {
//			background: $dark-gray;
//		}
//	}
//	&::before,
//	&::after {
//		content: '';
//		position: absolute;
//		height: 1px;
//		width: 100%;
//		top: 50%;
//		left: 0;
//		margin-top: -1px;
//		background: $dark-gray;
//	}
//	&::before {
//		@include transform(rotate(45deg));
//	}
//	&::after {
//		@include transform(rotate(-45deg));
//	}
//}
//.modal-content {
//	width: 90%;
//	margin: 0 auto;
//	img {
//		margin: 0 auto;
//	}
//	@include respond-to (only-device){
//		width: 100%;
//	}
//	
//}
//btn style
//.btn {
//	span {
//		padding: 0 5px;
//	}
//	&.active {
//		box-shadow: none;
//	}
//}
//.btn-xs, .btn-group-xs > .btn {
//	padding: 3px 6px;
//	@include respond-to (xxs-mobile){
//		padding: 1px 3px;
//	}
//}
//.btn-group .btn + .btn, 
//.btn-group .btn + .btn-group, 
//.btn-group .btn-group + .btn, 
//.btn-group .btn-group + .btn-group {
//	margin-left: 1px;
//}
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}
//.btn-primary {
//	background-color: transparent;
//	border: 0;
//	color: $white;
//	&:hover, &:active, &:focus, &.active, &.dropdown-toggle, &.disabled {
//		border: 0;
//		color: $white;
//		background-color: transparent;
//	}
//	&:active {
//		&:hover, &:focus {
//			border: 0;
//			color: $white;
//			background-color: transparent;
//		}
//	}
//	&.dropdown-toggle {
//		.open & {
//			border: 0;
//			color: $white;
//			background-color: transparent;
//			&:hover, &:focus, &.focus {
//				border: 0;
//				color: $white;
//				background-color: transparent;
//			}
//		}
//	}
//	&.disabled {
//		background-color: transparent;
//		border: 0;
//		&:hover, &:focus, &.focus, &:active, &.active, &[disabled], &[disabled]:hover, &[disabled]:focus, &[disabled].focus, &[disabled]:active, &[disabled].active {
//			border: 0;
//			background-color: transparent;
//		}
//	}
//	@include respond-to (normal-mobile){
//		font-size: 12px;
//	}
//}
.note {
	font-size: 14px;
	color: $gray;
	display: block;
	margin: 4px 0;
}
.link {
    text-decoration: underline;
    color: $dark-gray-green;
    cursor: pointer;
    font-weight: bold;
    &:hover {
          
    }
}
#member_plan {
    hr.page {
        margin: -60px 0 40px;
    }    
}
.block-p {
    background: $light-gray;    
    border: 1px solid #ddd;
    padding: 40px 50px;
    p {
        margin: 0
    }
}
.note-p {
    font-size: 13px;
    color: #777;
    padding: 50px;
    line-height: 2;
}
figure {
    margin: 30px 50px;
    img {
        width: 100%;
    }
    figcaption {
        color: #A9A9A9;
        font-size: 13px;
        text-align: center;
        a {
            text-decoration: underline;
            color: #A9A9A9;
            &:hover {
                background: none;
            }
        }
    }
}

#section-1 {
	h2 {
		margin-bottom: 30px;
	}
}
#member-section, #section-1, #section-2 ,#section-3 , #section-4, #section-5, #section-6, #section-7  {
	h2 {
		font-size: 40px;
	}
	h3 {
		font-size: 32px;
		color: $gray-green;
		span {
			background-image: linear-gradient(rgba($yellow, 0) 64% , $yellow 65%);
		}
//		display: inline-block;
//		font-weight: normal;
	}
	h4 {
		font-size: 24px;
		font-weight: 500;
		color: $dark-gray-green;
	}
	h5 {
		font-size: 20px;
	}
	h2, h3 {
		text-align: center;
		line-height: 1.2;
	}
	p {
		&.note {
			text-align: center;
		}
	}
	padding-bottom: 60px;
	padding-top: 80px;
//	padding: 40px 0;
	@include respond-to (only-device){
		h2 {
			font-size: 36px;
		}
		h3 {
			font-size: 28px;
		}
	}
}
#section-1 {
	padding-bottom: 0;
}
#section-2 {
	padding-top: 0;
	padding-bottom: 50px;
	blockquote:before {
		top: 8px;
	}
//	.carousel-indicators {
//		bottom: -50px;
//		.active {
//			background-color: $gray;
//		}
//		li {
//			border-color: $gray;
//			background-color: $yellow;
//			border-width: 2px;
//		}
//	}
//	@include respond-to (only-device){
//		.carousel {
//			width: 100%;
//			blockquote {
//			}
//		}
//	}
}
#section-3 {
	padding-bottom: 0;
	position: relative;
	h2 {
		margin-bottom: 5px;
	}
	h3{
		margin-top: 5px;
	}
	.mobile {
		clear: both;
		position: relative;
		img {
			width: 348px;
			margin: 0 auto;
		}
		&:after {
			position: relative;
			bottom: 0;
			display: block;
			width: 100%;
			margin: -80px auto -40px;
			height: 80px;
			content: '';
			background: url(../images/mobile_shadow.png) bottom center no-repeat;
		}
	}
	@include respond-to (normal-mobile){
		.mobile {
			&:after {
				z-index: 99;
				width: 110%;
				margin: -40px -5%;
				height: 40px;
			}
		}
	}
}
#section-3, #section-4 {
	text-align: center;
	ul.service {
		padding: 20px 0 40px;
		width: 40%;
		margin: 0 auto;
		li {
			font-size: 18px;
			text-align: left;
			position: relative;
			padding-left: 20px;
			&:before {
				color: $black;
				content: "\f058";
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				padding-right: 6px;
				position: absolute;
				left: 0;
			}
		}
	}
	@include respond-to (only-device){
		ul.service {
			width: 80%;
		}
	}
	@include respond-to (normal-mobile){
		ul.service {
			width: 100%;
		}	
	}
}
#section-4 {
//	background: #eee;
	ul.service {
		text-align: left;
		li {
			position: relative;
			padding-left: 20px;
			&:before {
				position: absolute;
				left: 0;
			}
		}
	}
	.image-row {
		text-align: center;
		img {
			width: 24%;
			padding: 0;
			margin: 0 0 0 -3px;
			border: 0;
			display: inline-block;
		}
	}
}
#section-5 {
	.plan {
		margin-top: 20px;
		margin-bottom: 20px;
		box-shadow: 0 12px 20px rgba(0,0,0,.1), 0 3px 10px rgba(0,0,0,.1);
		padding: 16px 20px 26px;
		text-align: center;
		border-radius: 0 0 3px 3px;
//		background: $dark-gray;
//		color: $yellow;
		background-image: linear-gradient( rgba($light-gray, 0) 90%, $light-gray 91% );
		>span {
			display: block;
			&:nth-of-type(2) {
				font-size: 40px;
				span {
					font-size: 16px;
				}
			}
		}
	}
}
#section-6 {
	h4 {
		line-height: 1;
	}
	.guarantee {
		position: relative;
		padding-left: 56px;
		padding-top: 20px;
		.number {
			font-size: 42px;
			background: $dark-gray-green;
			color: $white;
			width: 50px;
			height: 50px;
			line-height: 50px;
			border-radius: 50%;
			text-align: center;
			margin-right: 5px;
			display: block;
			position: absolute;
			left: 0;
			top: 26px;
			box-shadow: 0 3px 0 0 #FFE300;
		}
	}
}
#section-7 {
	.col-sm-4 {
//		border-right: 1px solid #ddd;
//		&:nth-last-of-type(1) {
//			border-right: 0;
//		}
	}
	.subscribe {
		width: 96%;
		margin: 0 auto;
		padding: 2%;
		input[type="text"], input[type="password"] {
			
		}
	}
	h4 {
		line-height: 1.2;
		margin-bottom: 20px;
		span {
			&:nth-of-type(1) {
				font-size: 14px;
			}
			&:nth-of-type(2) {
				display: block;
			}
		}
	}
	.form-group {
		margin-bottom: 10px;
	}
	button {
		margin: 20px auto 5px;
		width: 340px;
	}
	h5 {
		font-weight: normal;
		text-align: center;
		margin: 50px auto;
		span {
			background-image: linear-gradient(rgba($yellow, 0) 64% , $yellow 65%);
		}
		a {
			padding: 0 4px;
			text-decoration: underline;
		}
	}
}
// Radio
.radio {
    display: block;
    position: relative;
    margin: 0 0 15px;
    font-size: 16px;
    line-height: 32px;
    
    &_input {
        position: absolute;
        top: 4px;
        left: 0;
        width: 36px;
        height: 20px;
        opacity: 0;
        z-index: 0;
    }
	label {
		padding-left: 30px;
	}
    // Unchecked
    &_label {
        display: block;
        padding: 0 0 0 24px;
        cursor: pointer;
        
        &:before {
            content: '';
            position: absolute;
            top: 4px;
            left: 0;
            width: 22px;
            height: 22px;
            background-color: transparent;
            border: 3px solid $dark-gray;
            border-radius: 14px;
            z-index: 1;
            transition: border-color 0.28s cubic-bezier(.4, 0, .2, 1);
        }
         
        &:after {
            content: '';
            position: absolute;
            top: 9px;
            left: 5px;
            width: 12px;
            height: 12px;
            background-color: $gray-green;
            border-radius: 50%;
            z-index: 2;
            transform: scale(0, 0);
            transition: transform 0.28s cubic-bezier(.4, 0, .2, 1);
        }
    }
    
    // Checked
    &_input:checked + &_label {
        &:before {
            border-color: $dark-gray;
        }
        
        &:after {
            transform: scale(1, 1);
        }
    }
}
//checkbox
.checkbox-group {
    label {
        cursor: pointer;
        font-size: 16px;
        line-height: 32px;
        display: block;
        font-weight: normal;
        input[type='checkbox'] {
            display: none;

            +.label-text:before {
                content: "\f096";
                font-family: "FontAwesome";
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                font-smoothing: antialiased;
                width: 20px;
                display: inline-block;
                margin-right: 8px;
                font-size: 24px;
                vertical-align: middle;
            }
            &:checked + .label-text:before {
                content: "\f14a";
                color: $gray-green;
                animation: tick 180ms ease-in;
            }
            &:disabled + .label-text {
               color: #aaa;
           }
            &:before {
                content: "\f0c8";
                color: #CCC;
            }
            @keyframes tick {
                0% {
                    transform: scale(0);
                }
                90% {
                    transform: scale(1.4);
                }
                100% {
                   transform: scale(1);
                }
            }
        }
    }
}

#member-section {
	padding-bottom: 100px;
	label {
		font-weight: normal;
	}
	h4 {
		border-bottom: 4px solid $yellow;
		margin-bottom: 30px;
	}
	.btn {
		width: 100%;
	}
	#add-creditcard, #change-creditcard {
		padding: 20px 0;
	}
	.form-group {
		color: $gray;
		font-size: 17px;
		margin-bottom: 26px;
	}
	#member-info {
		.form-group {
			margin-bottom: 36px;
			input[type='text'], input[type='password'] {
				padding: 10px;
				border: 0;
				border-bottom: 1px solid #ddd;
				outline: none;
				box-shadow: none;
				border-radius: 0;
				&:focus {
					border: 1px solid #aaa;
					border-radius: 4px;
					box-shadow: none;
					outline: none;
					padding: 10px;
				}
			}
		}
	}
	.card-nummber, .card-cvv {
		input[type='text'] {
			border: 1px solid #ddd;
			border-radius: 4px;
			padding-right: 10px;
			width: 23%;
			margin-right: 2px;
			display: inline-block;
		}
	}
	.card-cvv {
		position: relative;
		.ccv-img {
			display: none;
			width: 320px;
			position: absolute;
			left: 210px;
			top: 0;
			width: 220px;
			background: $light-gray;
			border: 0;
			padding: 10px;
			border-radius: 6px;
			box-shadow: 0 4px 2px rgba(0,0,0,.2);
			img {
				max-width: 100%;
			}
		}
	}
	.note {
		display: inline-block;
		&.noteclick {
			text-decoration: underline;
		}
	}
    #member-info {
        .link {
            float: right;
            font-weight: normal;
            font-size: 14px;
            margin-top: 6px;
        }
    }
	.tab-container {
		padding: 10px;
		background: $white;
		border-radius: 6px;
		border: 1px solid #ddd;
	}
	.table-responsive {
		border: 0;
		margin-bottom: 0;
	}
	.table {
	//	background: $white;
		color: $gray;
		font-weight: normal;
		text-align: center;
		border: 0;
		margin-bottom: 0;
		color: $gray;
		padding: 10px;
		tbody {
			border: 0;
		}
		th {
			text-align: center;
			font-weight: normal;
		}
		tr {
		}
		th, td {
			text-align: center;
		}
	}
	#auto-payment {
		background: #f6f6f6;
		padding: 20px;
		clear: both;
		.form-group { 
			margin-bottom: 0;
			.btn {
				width: inherit;
			}
		}
		p.note {
			text-align: left;
			display: block;
		}
	}
	#current-plan {
		padding-top: 50px;
		.btn {
			width: 40%;
			margin: 0;
		}
		p.note {
			display: block;
			text-align: left;
			&.inline {
				line-height: 40px;
				padding-left: 10px;
				display: inline-block;
			}
		}
		p a {
			text-decoration: underline;
		}

		@include respond-to (only-device){
			.btn {
				width: 100%;
			}
		}
	}
	#payment-history {
		padding-top: 50px;
	}
}
.footer-sticky {
     position: fixed;
    bottom: -150px;
    width: 100%;
    height: 200px;
    background: $dark-gray;
    #demo {
        height: 150px;
        background: red;
    }
}


footer {
	width: 100%;
	position: fixed;
	bottom: 0;
    left: 0;
}
#footer-content {
	display: none;	
}
.toggle-footer {
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	cursor: pointer;
	
	text-align: center;
	
	background-color: #B29F63;
	opacity: 0.8;
	
	border-top-left-radius:  5px;
	border-top-right-radius: 5px;
}

#inner_foot{
    height:90px;
    background-color: $dark-gray;
}